@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: rgb(187, 133, 32);
}

header h1 {
    text-align: center;
    padding-top: 20px;
    color: white;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.608);
}

section#container {
    max-width:500px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.537);
}

#flista {
    width: 170px;
    min-height: 100px;
}

#teste {
    background-color: blue;
}

footer {
    text-align: center;
    margin-top: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    font-style: italic;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.608);
}